<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.customer.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerInsert</servlet-name>
    <servlet-class>com.customer.CustomerInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerInsert</servlet-name>
    <url-pattern>/CustomerInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCustomerDetailsServlet</servlet-name>
    <servlet-class>com.customer.UpdateCustomerDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerDetailsServlet</servlet-name>
    <url-pattern>/UpdateCustomerDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>com.customer.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
        <servlet-name>addPaymentServlet</servlet-name>
        <servlet-class>com.payment.addPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addPaymentServlet</servlet-name>
        <url-pattern>/addPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updatePayment</servlet-name>
        <servlet-class>com.payment.updatePaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updatePayment</servlet-name>
        <url-pattern>/updatePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deletePayment</servlet-name>
        <servlet-class>com.payment.deletePaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletePayment</servlet-name>
        <url-pattern>/deletePayment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>viewPayments</servlet-name>
        <servlet-class>com.payment.ViewPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewPayments</servlet-name>
        <url-pattern>/viewPayments</url-pattern>
    </servlet-mapping>
</web-app>